<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Currículo</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/address-book.png">
    
    <script src="https://kit.fontawesome.com/d505c2db50.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3">
        <a class="navbar-brand" href="/">
            <img src="/images/address-book-white.png" height="30" class="d-inline-block align-top" alt="logo do currículo do Jhonni">
            Currículo
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <% if('usuario' in locals) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Jhonni
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin">Minha conta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Sair</a>
                    </div>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Entrar</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container-fluid px-5 py-3">